* {
    margin:	0% 0% 0% 0%;
padding: 0;
}

.navbar {
    color: white;
}

body {
    margin: 0px;
    text-align: center;

    color: rgb(0, 0, 0)
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: auto 20% 50px 20%;
    position: relative;
    top: 50px;
    right: auto;
    color: rgb(44, 77, 95);
}

.medialogo {
    color: white;
}

.brand {
    font-family: 'Montserrat', sans-serif;
    margin: auto 20% 50px 20%;
    position: relative;
    top: 20px;
    right: auto;
    color: rgb(44, 77, 95);
    font-size: 2rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    line-height: 2;
    position: relative;
    top: 18px;
    color: burlywood;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 2;
    width: 60%;
    margin: auto;
    position: relative;
    top: 50px;
    color: rgb(44, 77, 95);
}

.top-container {
    bottom: 90px;
    background-color: rgb(150, 178, 187);
    padding-bottom: 200px;
}

.middle-container {
    background-color: white;
    padding-bottom: 200px;
}

.bottom-container {
    height: 900px;
    overflow: auto;
    background-color: rgb(150, 178, 187);
}

.footer {
    background-color: #212529;
    padding: 0 0 20px;
    color: burlywood;
    flex-direction: row;
}

hr {
    margin: 200px auto 20px auto;
    border: dotted rgb(255, 255, 255) 6px;
    border-bottom: none;
    width: 6%; 
}

.begin {
    font-size: 40px;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 2.3;
    width: 60%;
    margin: auto;
    position: relative;
    top: 100px;
    color: rgb(44, 77, 95);
}

.code-logo {
    position: relative;
    height: 150px;
    top: 50px;
    margin-left: 35px;
    margin-bottom: 25px;
}

.code-logos {
    position: relative;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 50px;
    margin: 3%;
    
}

.contact-me {
    color: burlywood;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 1px;
    text-decoration: none;
    margin: 2%;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.side-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10;
    right: 0;
    margin: auto;
    margin-left: 20px;
}

.para-float {
    float: right;
}

.Month {
    font-family: 'Montserrat', sans-serif;
    font-weight: 2;
    line-height: 1.5;
    margin: auto 20% auto 20%;
    position: relative;
    top: 120px;
    bottom: 25px;
    text-align: center;
    color: rgb(44, 77, 95);
    font-size: 1.5rem;
}

.days {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin: auto 20% 50px 20%;
    position: relative;
    top: 150px;
    text-align: left;
    color: rgb(44, 77, 95);
}

@media (max-width: 750px) {
    .brand {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.7rem;
    }
}

.medialogo {
    margin: 20px 10px;
}

.carousel-item {
    position: relative;
    padding: 7% 15%;
}

#blog-posts {
    position: relative;
    padding: 7% 15%;
}